/*
=========
  Fonts
=========
*/
@font-face {
    font-family: "YekanBakh Bold";
    src: url(../fonts/YekanBakh-Bold.woff) format("woff2");
}

@font-face {
    font-family: "YekanBakh Heavy";
    src: url(../fonts/YekanBakh-Heavy.woff) format("woff2");
}

@font-face {
    font-family: "YekanBakh Medium";
    src: url(../fonts/YekanBakh-Medium.woff) format("woff2");
}

@font-face {
    font-family: "YekanBakh Regular";
    src: url(../fonts/YekanBakh-Regular.woff) format("woff2");
}

/*
=============
  Reest Css
=============
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
=============
  Styles Css
=============
*/

:root {
	--text-color: #1D2939;
	--primery-color: #003566;
	--secondery-color: #EEEEEE;
	--btn-color: #C9184A;
}

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 10px;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

body {
    font-family: "YekanBakh Regular", sans-serif;
	font-size: 1.6rem;
	color: var(--text-color);
}

.icon-pack {
    display: none;
}

.btn-filter {
	width: 30.2rem;
    height: 4.8rem;
    padding: 1.2rem 1.6rem;
    border-radius: .8rem;
    background-color: white;
    border: 1px solid var(--secondery-color);
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: .6rem;
       -moz-column-gap: .6rem;
            column-gap: .6rem;
	margin: 3.2rem auto 0 auto;
	font-family: "YekanBakh Medium";
}

.btn-filter__icon {
	width: 2.4rem;
	height: 2.4rem;
}

.filter {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	inset: 0;
	background-color: white;
	-webkit-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.filter--show {
	opacity: 1;
	visibility: visible;
}

.filter__header {
	background-color: var(--secondery-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 2.4rem 3.2rem;
}

.filter__header-text {
	font-family: "YekanBakh Bold";
	font-size: 1.8rem;
}

.filter__header__icon {
	width: 2.4rem;
	height: 2.4rem;
}

.filter__body {
	padding: 2.4rem 3.2rem 3.2rem 3.2rem;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.filter__dropdown {
	font-family: "YekanBakh Medium";
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 1rem;
	-webkit-transition: all 100ms ease-in;
	-o-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

.filter__dropdown--activ + .filter__dropdown-contant {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.filter__dropdown-icon {
	width: 2rem;
	height: 2rem;
}

.filter__dropdown-contant {
	margin-top: 2rem;
	display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.6rem;
}

.filter-color {
	font-family: "YekanBakh Medium";
}

.filter-color__name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-column-gap: .6rem;
	   -moz-column-gap: .6rem;
	        column-gap: .6rem;
}

.filter-color__color {
	width: .8rem;
	height: .8rem;
	border-radius: 100%;
}

.checkbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.checkbox__input {
	display: none;
}

.checkbox__marker {
	display: block;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: .6rem;
	border: 1px solid #E5E5E5;
	background-color: white;
	-webkit-transition: all 50ms ease-in;
	-o-transition: all 50ms ease-in;
	transition: all 50ms ease-in;
}

.checkbox__input:checked + .checkbox__marker{
	border-color: var(--primery-color);
	background-color: var(--primery-color);
}

.filter__toggel {
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 1px solid var(--secondery-color);
	font-family: "YekanBakh Medium";
}

.toggel-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.toggel-btn__input {
	display: none;
}

.toggel-btn__market {
	position: relative;
	display: block;
	width: 4.6rem;
	height: 2.4rem;
	border-radius: 7.8rem;
	background-color: var(--secondery-color);
	-webkit-transition: all 120ms ease-in;
	-o-transition: all 120ms ease-in;
	transition: all 120ms ease-in;
}

.toggel-btn__market::after {
	content: '';
	position: absolute;
    top: 0;
	bottom: 0;
    right: .4rem;
	margin: auto 0;
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	background-color: white;
	border-radius: 100%;
	-webkit-transition: all 120ms ease-in;
	-o-transition: all 120ms ease-in;
	transition: all 120ms ease-in;
}

.toggel-btn__input:checked + .toggel-btn__market{
	background-color: var(--primery-color);
}

.toggel-btn__input:checked + .toggel-btn__market::after{
	right: 2.6rem;
}

.filter__btn {
	width: 100%;
	padding: 1.2rem 1.6rem;
	background-color: var(--btn-color);
	color: white;
	border-radius: .8rem;
	border: none;
	outline: none;
	text-align: center;
	font-family: "YekanBakh Medium";
	margin-top: auto;
}